<style>
.dashlet-cartera-list table td[align=right] span div{
    text-align: right;
}
</style>
<div>
  <div>
    {{#if collection.length}}<button name="download" class="btn btn-primary">Descargar</button>{{/if}}
  </div>
  <div class="list-view dashlet-cartera-list">
    {{#each meta.panels}}
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    {{#each fields}}
                        <th class="{{#isSortable ../../module this}}sorting sorting_{{#eq ../../../collection.orderBy.field name}}{{../../../../orderBy.direction}}{{/eq}} orderBy{{name}}{{/isSortable}}{{#if widthClass}} {{widthClass}}{{/if}}"
                        {{#if styles}} style="{{styles}}"{{/if}}
                        {{#if name}} data-fieldname="{{name}}"{{/if}} data-orderby="{{orderBy}}">
                            <span>{{str label 'Accounts'}}</span>
                        </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each ../collection.models}}
                    <tr class="single">
                        {{#each ../fields}}
                            <td {{#if align}}align="{{align}}"{{/if}}
                            > {{field ../../../this model=../this template=../../../viewName}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/each}}
    {{#unless collection.length}}
        <div class="block-footer">
            {{str "LBL_NO_DATA_AVAILABLE"}}
        </div>
    {{/unless}}
  </div>
</div>
