<style>
/*.dashlet-cartera-list table{
  table-layout: fixed;
}

.dashlet-cartera-list table td,
.dashlet-cartera-list table th{
  width:170px;
}

.dashlet-cartera-list table td{
  padding:1px;
}

.dashlet-cartera-list table thead tr{
  display: block;
  position: relative;
}

.dashlet-cartera-list table tbody{
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 300px;
}*/

.dashlet-cartera-list table td[align=right] span div{
    text-align: right;
}
.dashlet-cartera-list table tbody td[data-codigo_bloqueo_c=""]{
    border: solid .3em #27FE2D;
}
.dashlet-cartera-list table tbody td[data-codigo_bloqueo_c="CV"]{
  border: solid .3em #FDBF2E;
}
.dashlet-cartera-list table tbody td[data-codigo_bloqueo_c="CL"]{
  border: solid .3em #747273;
}

</style>
<div>
  <h3>
    {{#eachOptions sucursal_c_list}}
      {{#eq this.key ../sucursal}}
        {{value}}
      {{/eq}}
    {{/eachOptions}}
    {{#if collection.length}}<button name="download" class="btn btn-primary">Descargar</button>{{/if}}
  </h3>

  <div class="list-view dashlet-cartera-list">
    {{#each meta.panels}}
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    {{#each fields}}
                        <th class="{{#isSortable ../../module this}}sorting sorting_{{#eq ../../../collection.orderBy.field name}}{{../../../../orderBy.direction}}{{/eq}} orderBy{{name}}{{/isSortable}}{{#if widthClass}} {{widthClass}}{{/if}}"
                        {{#if styles}} style="{{styles}}"{{/if}}
                        {{#if name}} data-fieldname="{{name}}"{{/if}} data-orderby="{{orderBy}}">
                            <span>{{str label 'Accounts'}}</span>
                        </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each ../collection.models}}
                    <tr class="single">
                        {{#each ../fields}}
                            <td {{#if align}}align="{{align}}"{{/if}}
                            {{#eq name 'codigo_bloqueo_c'}}
                              data-codigo_bloqueo_c="{{#with ../../this.attributes}}{{codigo_bloqueo_c}}{{/with}}"
                            {{/eq}}
                            >
                              {{field ../../../this model=../this template=../../../viewName}}
                          </td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/each}}
    {{#unless collection.length}}
        <div class="block-footer">
            {{str "LBL_NO_DATA_AVAILABLE"}}
        </div>
    {{/unless}}
  </div>
</div>
