<table>
  <thead>
    <tr>
      <th>Partida</th>
      <th>Cantidad</th>
      <th>Producto</th>
      <th>Fecha</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
