<style>
  .dashlet-aapf-content{
    background: #FFF;
  }
  .dashlet-aapf-content .header{
    background: #f6f6f6;
  }
  .dashlet-aapf-content .header div[data-name=tipo_operacion]{
    padding: 1em 0 1em 1em;
  }
  .dashlet-aapf-content .header a[name=save_button]{
    margin-left: : 1em;
  }
  .dashlet-aapf-content .list-container{
    padding: 1em;
  }
  .dashlet-aapf-content .tab-pane{
    height: 260px;
    overflow: scroll;
  }
</style>
<div class="dashlet-aapf-content">
    <div class="panel_body">
    	<div class="row-fluid header">
        <div data-name="tipo_operacion" class="span8">
          <div id="fac_fields">
            <table style="background-color:floralwhite">
              <tr>
                <th><label id="lbl_hon" name="lbl_hon">Honorarios</label></th>
                <th><input type="text" name="honorarios" id="h1" placeholder="Honorarios"></th>
              </tr>
              <tr>
                <th><label id="lbl_afo" name="lbl_afo">Aforo</label></th>
                <th><input type="text" name="aforo" id="a1" placeholder="Aforo"></th>
              </tr>
              <tr>
                <th><label id="lbl_int" name="lbl_int">Intereses</label></th>
                <th><input type="text" name="intereses" id="i1" placeholder="Intereses"></th>
              </tr>
            </table>
            <input type="hidden" id="status_fac" name="status_fac" value="0">
          </div>
          <select class="" name="tipo_operacion">
            <option value="1facturaNpagos" selected>Para pagar 1 factura con muchos pagos</option>
            <option value="Nfactura1pagos">Para pagar muchas facturas con 1 pago</option>
          </select>
        </div>
        <div class="btn-toolbar pull-right">
          <a class="btn full-screen"><i class="fa fa-expand"></i></a>
          <a class="btn btn-invisible btn-link" name="close_button">Cerrar</a>
          <a class="rowaction btn btn-primary disabled" href="javascript:void(0);" name="save_button" >Guardar</a>
        </div>
    	</div>
      <div class="row-fluid resumen">
        <div data-name="" class="span12">
          <span data-name="facturas-saldo"><span class="label">Facturas:</span><span class="saldo"></span></span>
          <span data-name="pagos-monto"><span class="label">Pagos:</span><span class="monto"></span></span>
        </div>
      </div>
    	<div class="tabbable list-container">
    		<ul class="nav nav-tabs" >
			  	<li class="active"><a data-toggle="tab" data-target="tab-facturas" href="#tab-facturas" >Facturas</a></li>
			  	<li><a data-toggle="tab" data-target="tab-pagos" href="#tab-pagos" >Pagos</a></li>
  			</ul>
  			<div class="tab-content">
  				<div class="tab-pane active" id="tab-facturas">
            <!-- documentos -->
          </div>
          <div class="tab-pane" id="tab-pagos">
            <!-- pagos -->
          </div>
  			</div>
    	</div>
    </div>
</div>
