<table class="table table-bordered table-condensed pagos-container" >
	<thead>
		<tr>
      <th style="min-width: 30px; width: 30px; max-width: 30px;"></th>
			<th style="min-width: 70px; width: 70px; max-width: 70px;">Folio</th>
			<th style="min-width: 110px; width: 110px; max-width: 110px;"></th>
			<th style="min-width: 110px; width: 110px; max-width: 110px;">Importe</th>
			<th style="min-width: 110px; width: 110px; max-width: 110px;">Pendiente por Aplicar</th>
			<!--<th style="min-width: 70px; width: 70px; max-width: 70px;">Factoraje</th>-->
		</tr>
	</thead>
	<tbody>
		{{#each pagosCollection.models}}
			{{#with this.attributes}}
	    <tr data-id="{{id}}" class="pago">
	      <td><input type="{{#eq ../../tipo_operacion '1facturaNpagos'}}checkbox{{else}}radio{{/eq}}" name="pago" ></td>
	      <td class="number">{{name}}</td>
				<td class="number pago" ><span >$</span><input type="text" name="importe_pago_factura" class="input-small importe_pago_factura input-disabled" value="{{formatNumber saldo_pendiente_c}}"></td>
	      <td class="number">{{formatCurrency monto}}</td>
	      <td class="number">{{formatCurrency saldo_pendiente_c}}</td>
				<!--<td class="number"><input type="checkbox" name="factoraje"></td>-->
	    </tr>
			{{/with}}
		{{else}}
  		<tr><td colspan="5"> No hay datos...</td></tr>
		{{/each}}
	</tbody>
</table>
