<style>
	.facturas-container th{
		text-align: center;
	}
	.facturas-container .number{
		text-align: right;
	}
</style>
<div class="row-fluid  ">
	<table class="table table-bordered table-condensed facturas-container " style="margin-top:10px;">
        <thead>
          <tr>
          	<th style="min-width: 30px; width: 30px; max-width: 30px;"></th>
						<th style="min-width: 70px; width: 70px; max-width: 110px;">Folio</th>
						<th style="min-width: 110px; width: 110px; max-width: 110px;" class="number">Saldo</th>
						<th style="min-width: 110px; width: 110px; max-width: 110px;" class="number">Importe</th>
						<th style="min-width: 110px; width: 110px; max-width: 110px;">Vence</th>
          </tr>
        </thead>
        <tbody>
			{{#each facturasCollection.models}}
				{{#with this.attributes}}
	          <tr data-id="{{id}}" class="factura">
	            <td>
								<input type="{{#eq ../../tipo_operacion '1facturaNpagos'}}radio{{else}}checkbox{{/eq}}" name="factura" >
							</td>
	            <td >{{name}}</td>
							<td class="number">{{formatCurrency saldo}}</td>
	            <td class="number">{{formatCurrency importe}}</td>
	            <td >{{formatDate fecha_vencimiento ../../dateDef}}</td>
	          </tr>
				{{/with}}
			{{else}}
	  		<tr><td colspan="7"> No hay datos...</td></tr>
			{{/each}}
		</tbody>
    </table>
</div>
