<style>
.facturas-container {
  overflow: scroll;
}

.facturas-container table td[align=right] span div{
    text-align: right;
}

.accounts-container .accordion-heading{
    padding-left: 2.5em;
}


</style>
<div>
  <h3>
    <span>Fecha de proyecci&oacute;n: {{fecha_proyeccion_formated}}</span> {{#if data.length}}<button name="download" class="btn btn-primary">Descargar</button>{{/if}}
  </h3>

  <div class="accordion dashlet-incobrables-accordion">
    {{#each data}}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#sucursal-{{sucursal}}" aria-expanded="true" aria-controls="sucursal-{{sucursal}}">
            {{sucursal}} - {{name}}: [ Saldo: {{saldo}} ]
          </a>
        </div>
        <div id="sucursal-{{sucursal}}" class="accordion-body accounts-container">
          {{#each accounts}}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#account-{{id}}" aria-expanded="true" aria-controls="account-{{id}}">
                  {{name}} [ Saldo: {{saldo}} ]
                </a>
              </div>
              <div id="account-{{id}}" class="accordion-body facturas-container">
                {{#each ../../meta.panels}}
                    <table class="table table-striped dataTable">
                        <thead>
                            <tr>
                                {{#each fields}}
                                    <th >
                                        <span>{{str label 'Accounts'}}</span>
                                    </th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ../models}}
                                <tr class="single">
                                    {{#each ../fields}}
                                        <td {{#if align}}align="{{align}}"{{/if}}>
                                          {{fieldJson ../this this}}
                                        </td>
                                    {{/each}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
    {{#unless data.length}}
        <div class="block-footer">
            {{str "LBL_NO_DATA_AVAILABLE"}}
        </div>
    {{/unless}}
  </div>
</div>
