{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if this.def.isMultiSelect}}
    {{#if value}}
        <div class="ellipsis_inline" data-placement="bottom" title="{{#each value}}{{#eachOptions ../items}}{{#eq key ../this}}{{#notEq @index 0}}, {{/notEq}}{{value}}{{/eq}}{{/eachOptions}}{{/each}}">{{#each value}}{{#eachOptions ../items}}{{#eq key ../this}}{{#notEq @index 0}}, {{/notEq}}{{value}}{{/eq}}{{/eachOptions}}{{/each}}</div>
    {{/if}}
{{else}}
    {{#if value}}
        {{#eachOptions items}}
            {{#eq this.key ../value}}
                <div class="ellipsis_inline" data-placement="bottom" title="{{value}}">
                    {{value}}
                </div>
            {{/eq}}
        {{/eachOptions}}
    {{/if}}
    {{#if estadoVenta}}
      <div class="ellipsis_inline" data-placement="bottom" title="Venta">
          Venta
      </div>
    {{/if}}
{{/if}}
